* { margin: 0; 
    padding: 0;
     box-sizing: border-box;
     }
body {
     font: 1.8em Helvetica, Arial; 
     background-image: "img.jpg";
    }
form { 
    background: rgb(12, 187, 26);
     padding: 3px;
      position: fixed;
       bottom: 0;
        width: 100%; 
    }
form input {
     border: 0; 
     padding: 10px; 
     width: 89%;
    margin-right: .5%;
 }
form #button {
     color:rgb(12, 190, 202); 
     background: rgb(11, 26, 159); 
     border: none; 
     padding: 10px;  
     width: 9%; 
    }
#messages { 
    list-style-type: none; 
    margin: 0;
    padding: 0; 
}
#messages li { 
    padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
    background: rgb(32, 201, 201); 
}
#notifyUser { 
    position: fixed; 
    bottom: 42px; 
    width: 100%; 
}
